td,th {
		     text-align: left;
                        padding: 10px 25px;
		}
		h2 {
                    padding: 15px;
                }
                tr{
                    border-bottom: 1px solid whitesmoke;
}

/*toggle*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.r-item {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 10px 15px;
}
.r-ttl {
    font-size: 18px;
    font-weight: bold;
}
.edit-delete-buttons{
  text-align: right;
}
.edit-delete-buttons button, .ed-actions button {
    padding: 1px 10px;
    border: 1px solid silver;
    font-size: 14px;
    margin: 0px 2px;
    border-radius: 2px;
}
button.r-del-btn {
    border: 1px solid crimson;
    color: crimson;
    background-color: white;
}
.r-del-btn:hover{
  color: white;
    background-color: crimson;
}
.r-edit-btn:hover{
  color: white;
    background-color: royalblue;
}
button.r-edit-btn {
    border: 1px solid royalblue;
    color: royalblue;
    background-color: white;
}
.r-note {
    font-size: 14px;
}

#editor {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    background-color: white;
}
.editorContent {
    padding: 0px 15px;
}

input#title-input-field {
    width: 100%;
    border-width: 0px 0px 2px 0px;
    margin-bottom: 10px;
    padding: 5px 7px 3px;
    color: royalblue;
    border-color: royalblue;
}
#editorTtl {
    font-size: 20px;
    margin: 10px 10px 10px 15px;
    /* background-color: whitesmoke; */
}
.ed-lbl {
    color: grey;
    font-size: 14px;
}
.ed-actions{
  padding: 10px;
}
.addnotebtn {
    background-color: #02b302;
    color: white;
    border: 1px solid #02b302;
    padding: 2px 15px;
    border-radius: 2px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}
#buttons {
    text-align: center;
    padding: 20px 10px 5px;
}
#rich-text-notes {
    padding: 0px 15px;
}

.edit-delete-buttons .r-time {
    font-size: 10px;
    color: grey;
    margin: 0px 10px;
}
.r-author {
    color: black;
    border-right: 1px solid whitesmoke;
    padding-right: 10px;
}
.edit-delete-buttons {
    font-size: 10px;
    color: silver;
}

/*toggle*/
$("#demoCustomPalette").mdbWYSIWYG({
  colorPalette: {
    red: '#d50000',
    green: '#64dd17',
    yellow: '#fff176',
    blue: '#03a9f4',
    purple: '#6a1b9a',
    white: '#fff',
    black: '#000'
  }
});

