.agent-thread:not(.whiteBgimp) {
    margin-left: 20%;
    border: none;
}
.agent-thread{
	text-align: right;
}
.agent-thread .threads-pop-pos{
	text-align: left;
}
#showAllThreads .threads{
	padding: 6px 0px !important;
}
.customer-thread:not(.whiteBgimp) {
    margin-right: 20%;
    border: none;
}
.agent-thread .thrd_plain{
	/*, .agent-thread .threadOvflScroll:not(.hide)*/
	display: inline-block;
	background-color: royalblue;
    color: white;
    padding: 10px 25px;
    border-radius: 50px 0px 50px 50px;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
    text-align: left;
    margin-top: 11px;
    margin-right: 10px;
}

.agent-thread .threadOvflScroll{
	background-color: royalblue;
    color: white;
    border-radius: 5px;
    margin-top: 11px;
    margin-right: 10px;
}

.dtviewbox #showAllThreads .threads{
	border:none !important;
}
.threads {
    margin-bottom: 5px;
}
.threads {
    margin-bottom: 5px;
}

.customer-thread .thrd_plain{
/*,.customer-thread .threadOvflScroll:not(.hide)*/
	

    display: inline-block;
    background-color: #f9f9f9;
    color: black;
    padding: 10px 25px;
    border-radius: 0px 50px 50px 50px;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
    margin-top: 5px;
    text-align: left;
}

.customer-thread .threadOvflScroll{
	background-color: #f9f9f9;
    color: black;
    border-radius: 0px 50px 50px 50px;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
    margin-top: 5px;
}

.threadcontainer{ 
    padding: 10px !important;
}
.agent-thread .threadOvflScroll, .customer-thread .threadOvflScroll{
    padding: 10px 15px;
}
.threads .via-channel{
	display: none;
}
.customChannelthread .editorbody textarea.ze_area{
	height: 100px !important;
	/*border: 1px solid rgba(0, 0, 0, 0.1);*/
    /*border-radius: 0px 40px 40px 40px;*/
    padding: 10px 25px;
    box-sizing: border-box;
    margin-left:0px !important;
    margin-bottom:0px !important;
    font-size: 15px !important;
}
/*.replyarea{
	top: unset !important;
	bottom: 0px !important;
    position: static !important;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1) !important;
    padding-left: 35px !important;
    background-color: transparent !important;
}*/
.customChannelthread.replyarea{
	bottom: 0px !important;
    top: unset !important;
    box-shadow: 0px -5px 15px rgba(0,0,0,0.1);
}

.customChannelthread #editorContainer.editor-bg{
	margin-top: 0px !important;
    padding-bottom: 17px !important;
    border:none !important;
    border-bottom: 1px solid rgba(0,0,0,0.1) !important;
    box-shadow: none;
    height: unset !important;
    background-color: transparent !important;

}

.customChannelthread #compose-cont, .customChannelthread .KB_Editor_menus{
	display: none;
}


.agent-thread .infoHdr .fleft.cont-dot{
	float: right !important;
    position: absolute !important;
    right: 80px !important;
}
.agent-thread .fleft.w50p.posrel{
	float: right !important;
    margin-bottom: -25px !important;
    background-color: white !important;
    margin-right: 23px !important;
        z-index: 1;
}


/** dark theme

#listviewgpage tbody td, #floating-masslayer{
  background-color: #1e2633 !important;
}
#floating-masslayer{
  color: grey;
}
.reqread .reqsubject, .reqsubject{
  color: grey !important;
}
.view_heading .viewtitle{
  color: grey;
}
#reqproperties{
  background-color: #1e2633;
  color: grey;
}
.lhs-t-dtls-label{
  color: #6f6c6c !important
} **/
