body{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 10px;
}
.dropDownContainer div {
    padding: 5px;
    cursor: pointer;
    padding-left: 10px;
    margin: 5px;
}

.dropDownContainer {
    box-shadow: 0px 2px 6px 0px lightgray;
    z-index: 9;
}

.dropDownContainer div:hover {
    background-color: whitesmoke;
}
.dropDownContainer {
    /* position: absolute; */
    width: 100%;
    z-index: 111111;
    background: white;
    margin-top: -2px;
}
div#selSnippet {
    padding: 10px;
    background-color: whitesmoke;
    cursor: pointer;
	color: #333;
	margin-top: 5px;
}

.template_content_holder{
	margin-top: 10px;
	padding: 10px;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  float: right;
}

div#selSnippet.open i{
	transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.snippet_ttl{
	padding: 10px;
        color: royalblue;
}

.snippet_added_text{
	display: none;
	color: green;
	padding: 10px;
	font-size: 14px;
}

.btn-radio-choose.chosen {
    background-color: royalblue;
    color: white;
    border: none;
    font-size: 16px;
}
.btn-radio-choose {
    border: 1px solid silver;
    display: inline-block;
    margin: 0px 5px;
    padding: 5px 15px;
    border-radius: 3px;
    font-size: 14px;
}
.btn-radio-choose:not(.chosen):hover {
    cursor: pointer;
    background-color: whitesmoke;
}