body{
    font-family: "Arial";
    font-size: 14px;
}
.historyItem{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 3px;
    position: relative;
    padding-top: 5px;
}
.hisAgentTime{
    right: 10px;
    top: 10px;
    color: grey;
    font-size: 14px;
    padding: 5px;
}
.hisAgentEmail{
    display: none;
    font-size: 14px;
    padding: 3px;
    color: silver;
}
.historyItem:hover{
    background-color: whitesmoke;
}
.historyItem:hover a{
    color: #00a3fe;
}
.hisAgentName a{
    color: black;
    text-decoration: none;
}
.replyEditorStatus{
    text-align: center;
    font-size: 16px;
    line-height: 1.25;
    color: grey;
    margin-top: 50px;
}
.loadedicon, .loadedicon{
    margin-top: 30px;
}
.loadingIcon svg{
    animation:testanim 1s linear infinite;
    fill: darkorange;
    height: 50px;
    width: 50px;
}
.loadedicon svg{
    fill: green;
    height: 50px;
    width: 50px;
}
.c-silver{
    color: silver;
}
.toggleHisEmail{
    top: 0px;
    right: 0px;
    left: 0px;
    padding: 10px;
    background-color: white;
}
.loadmoreholder{
    text-align: center;
    margin-bottom: 20px;
    margin-top: -20px;
  
}
.loadmoreholder button{
    padding: 5px 10px;
      border: 1px solid silver;
    border-radius: 5px;
    background-color: black;
    color: white;
    box-shadow: 0px 2px 5px rgba(0,0,0, 0.2);
}
.loadmoreholder button:hover{
    cursor: pointer;
}
.hisAgentIndex{
    position: absolute;
    right: 15px;
    bottom: 5px;
    color: silver;
    font-size: 12px;
}
@keyframes testanim{
    from { 
            transform: rotate(0deg); 
        opacity: 0.2;
        } to { 
            transform: rotate(360deg); 
            opacity: 1;
        }
}