body {
	font-family: roboto;
	padding: 0px;
}

.instructions-title {
	font-size: 20px;
	font-weight: 100
}

.instructions-list {
	padding: 10px;
	margin-bottom: 20px
}

.instructions-item {
	padding: 10px
}

.api-key-highlight {
	border: 2px solid green;
	padding: 2px 10px;
	border-radius: 5px;
	color: green;
	margin: 0 5px;
	font-size: 14px
}

.form-holder,.reciept-auto-form {
	margin: 5px 20px;
	border: 1px dotted silver;
	padding: 20px;
        margin-top: 0px;
}

#input-api-key {
	font-size: 16px;
	width: 50%;
	border-radius: 3px;
	border: 1px solid #000;
	border-width: 0 0 2px;
	padding: 5px;
	margin: 10px 0
}

#input-api-key:focus {
	border-color: #4169e1
}

.btn-save {
	background-color: #4169e1;
	display: inline-block;
	font-size: 16px;
	color: #fff;
	padding: 5px 15px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .2)
}

.btn-save:hover {
	cursor: pointer;
	background-color: navy
}

.highlight-custom-field {
	border: 1px dotted grey;
	padding: 5px 7px;
	border-radius: 5px;
	font-size: 14px;
	margin: 0 2px
}

.process-item {
	display: none;
	border: 1px dotted silver;
	margin-bottom: 10px;
	padding: 10px;
	color: grey;
	margin: 15px
}

#process_apikey {
	display: none
}

#process_help {
	display: none
}
.btn-radio-choose{
    border: 1px solid silver;
    display: inline-block;
    margin: 0px 5px;
    padding: 5px 15px;
    border-radius: 3px;
    font-size: 14px;
}
.reciept-auto-form{
    position: relative;
}
.btn-radio-choose.chosen{
    background-color: royalblue;
    color: white;
    border: none;
    font-size: 16px;
}
.btn-radio-choose:not(.chosen):hover {
    cursor: pointer;
    background-color: whitesmoke;
}
#auto_receipt_statusMsg{
    display: none;
    background-color: rgba(256,256,256,0.75);
    padding: 10px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    text-align: center;
    padding-top:5%;
}
.contactme{
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 1000;
    box-shadow: -5px -5px 15px rgba(0,0,0,0.2);
    padding: 7px 10px 0px 10px;
    border-radius: 5px;
    text-align: right;
}
.contactme a {
    text-decoration: none;
}
.ua-brand{
    color: grey;
}
.ua-brand a {
    color: grey;
    text-decoration: none;
}
span.brand-brand {
    margin: 0px 5px;
    font-weight: 100;
    color: black;
}
.contactme img {
    vertical-align: middle;
    max-height: 25px;
}