body {
	font-family: roboto;
	padding: 20px
}

.instructions-title {
	font-size: 20px;
	font-weight: 100
}

.instructions-list {
	padding: 10px;
	margin-bottom: 20px
}

.instructions-item {
	padding: 10px
}

.api-key-highlight {
	border: 2px solid green;
	padding: 2px 10px;
	border-radius: 5px;
	color: green;
	margin: 0 5px;
	font-size: 14px
}

.form-holder {
	margin: 20px;
	border: 1px dotted silver;
	padding: 20px
}

#input-api-key {
	font-size: 16px;
	width: 50%;
	border-radius: 3px;
	border: 1px solid #000;
	border-width: 0 0 2px;
	padding: 5px;
	margin: 10px 0
}

#input-api-key:focus {
	border-color: #4169e1
}

.btn-save {
	background-color: #4169e1;
	display: inline-block;
	font-size: 16px;
	color: #fff;
	padding: 5px 15px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .2)
}

.btn-save:hover {
	cursor: pointer;
	background-color: navy
}

.highlight-custom-field {
	border: 1px dotted grey;
	padding: 5px 7px;
	border-radius: 5px;
	font-size: 14px;
	margin: 0 2px
}

.process-item {
	display: none;
	border: 1px dotted silver;
	margin-bottom: 10px;
	padding: 10px;
	color: grey;
	margin: 15px
}

#process_apikey {
	display: none
}

#process_help {
	display: none
}